{% extends 'base.html.twig' %}

{% block title %}Concesionario{% endblock %}

{% block body %}
    <h1 class="h1titulosdepaginas">Concesionario</h1>
<div class="tabladeeditar">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ concesionario.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ concesionario.nombre }}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{ concesionario.ciudad }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="diveditar">

    <a  class="botonregresar" href="{{ path('concesionario_index') }}">Regresar</a>

    <a class="botoneditar"  href="{{ path('concesionario_edit', {'id': concesionario.id}) }}">Editar</a>

    {{ include('concesionario/_delete_form.html.twig') }}
</div>
{% endblock %}
