{% extends 'base.html.twig' %}

{% block title %}Marca{% endblock %}

{% block body %}
    <h1 class="h1titulosdepaginas">Marca</h1>
<div class="tabladeeditar">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ marca.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ marca.nombre }}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{ marca.ciudad }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="diveditar">
    <a class="botonregresar" href="{{ path('marca_index') }}">Regresar</a>

    <a class="botoneditar" href="{{ path('marca_edit', {'id': marca.id}) }}">Editar</a>

    {{ include('marca/_delete_form.html.twig') }}
</div>
{% endblock %}
